.container-fliud
  .row
    .col-sm-2
      admin-nav
    .col-xs-4
      ul.list-unstyled
        li(ng-repeat='(label, count) in stats')
          h6 {{label}}s: {{count}}
    .col-sm-10
      div(ui-view='')
      p
        a(ng-click='seedDB()') Seed The DB
      table.table.table-striped.table-bordered
        caption Users
        tr
          td
          th Username
          th Online
          th Availability
          th Show
        tr(ng-repeat="user in users | orderBy:'username' ", ng-class="{selected: user.selected}")
          td
            input(type="checkbox" ng-model="user.selected" ng-change="toggleSelection(user.originalIndex)")
          td
            a(href="/admin/user/{{user._id}}", title="{{::user.email}}") {{::user.username}}
            sup
              small {{::user.roles.join(',')}}
          td
            select(ng-model="user.status.online", ng-change='statusChange("online", user.status.online, user.slug, user.originalIndex)', ng-options="opt.val as opt.label for opt in [{label:'online', val: true}, {label:'offline', val: false}]")

          td
            select(ng-model='user.status.availability', ng-options='o as o for o in options.availability',ng-change='statusAvailabilityChange(user)')
          td
            select(ng-model='user.status.show', ng-options='o as o for o in options.show', ng-change='statusShowChange(user)')
          td(ng-if="needsBroadcasterApproval($index)")
            span
              a(href="", ng-click="approveBroadcaster(user,$index)") Approve
              a(href="", ng-click="denyBroadcaster(user,$index)") Deny
          td
            a.trash(ng-click='delete(user)')
              span.glyphicon.glyphicon-trash.pull-right
        table.table.table-striped.table-bordered
          caption Sockets To Users
          tr(ng-repeat="(key, sock) in socketsToUsers")
            td
              div
                small {{key}}
              div {{sock.slug}}
              div {{sock.username}}
        table.table.table-striped.table-bordered
          caption Users to Sockets
          tr(ng-repeat="(key, sock) in usersToSockets")
            td
              div
                small {{key}}
              div {{sock.slug}}
              div {{sock.username}}
        table.table.table-striped.table-bordered
          caption Users to Rooms
          tr
            td {{usersToRooms}}
        table.table.table-striped.table-bordered
          caption Rooms to Users
          tr
            td {{roomsToUsers}}
