div(ng-include='"components/navbar/navbar.html"')

.contain-main
  .container
    .row
      .col-md-6
        table.table.table-striped.table-bordered
          caption Users
          tr
            th Username
            th Roles
            th Status
            th(colspan=3) Actions
          tr(ng-repeat="user in users")
            td
              a(href="/admin/user/{{user._id}}", title="{{::user.email}}") {{::user.username}}
            td {{::user.roles.join(',')}}
            td
              span
                | {{user.status}}
            td
              span(ng-repeat="status in statuses.show")
                a(href="#", ng-click="setStatus(status, $index, user.slug)") {{status}}
                | |
            td
              span(ng-if="needsBroadcasterApproval($index)")
                a(href="", ng-click="approveBroadcaster(user,$index)") Approve
                a(href="", ng-click="denyBroadcaster(user,$index)") Deny
            td
              a.trash(ng-click='delete(user)')
                span.glyphicon.glyphicon-trash.pull-right
