div(ng-include='"components/navbar/navbar.html"')
.contain-main
  .container
    .row(ng-if="!albumForm")
      .col-xs-12
        account-menu
      .col-sm-12
        h1 Media Galleries
      .col-sm-3.photo-album
        a(href="", ng-click="openCreateAlbumForm()")
          i.fa.fa-plus.fa-4x
          br
          | Create Album
      .col-sm-3.photo-album(ng-repeat="album in user.albums")
        p(ng-if="!album.showRenameForm")
          a(href="") {{album.name}} &nbsp;

          a(href="", ng-click="editAlbum($index)")
            i.fa.fa-pencil-square-o

          a(href="", ng-click="deleteAlbum(album._id)")
            i.fa.fa-times
        p {{album.description}}
        p.text-danger Nothing In This Gallery

        form(ng-show="album.showRenameForm")
          p
            input(ng-model="newAlbum.name", name="name")
          p
            textarea(ng-model="newAlbum.description", name="description", placeholder="Describe Your Album Here")
          p
            select(ng-model="newAlbum.privacy")
              option(value="public") Everyone
              option(value="internal") Internal (only people on the site can see)
          p
            a.btn.btn-primary(href="", ng-click="renameAlbum($index)")
              i.fa.fa-save
              |  Save
            a.btn.btn-danger(href="", ng-click="hideRenameForm($index)")
              i.fa.fa-times
              |  Cancel

        form(ng-if="album.showUploadForm", action='/uploads/pics', enctype='multipart/form-data', method='post')
          input(type='hidden', name='slug', value="{{user.slug}}")
          br
          input.form-control(type='file', name='pic', multiple='multiple')
          br
          button.btn.btn-primary
            i.fa.fa-cloud-upload
            |  Upload
          a.btn.btn-danger(href="", ng-click="hideUploadForm($index)")
            i.fa.fa-times
            |  Cancel

        div(ng-if="!album.showUploadForm && !album.showRenameForm")
          p
            button.btn.btn-success(ng-click="showUploadForm($index)")
              i.fa.fa-photo
              |  Add Pics


    .row(ng-if="albumForm")
      .col-xs-12
        h2 Create An Album
        form
          p
            input.form-control(ng-model="newAlbum.name", ng-required)
          p
            textarea.form-control(ng-model="newAlbum.description", placeholder="Describe Your Album")
          p
            input.form-control(ng-model="newAlbum.active", placeholder="active")
          p
            input.btn.btn-primary(type="submit", value="Create", ng-click="createAlbum()")
            input.btn.btn-danger(type="submit", value="Cancel", ng-click="closeCreateAlbumForm()")
