div(ng-include='"app/Components/navbar/navbar.html"')
.container
  .col-xs-12
    .table-list-container
      table.table.table-striped.table-bordered
        caption Users
        tr
          th Username
          th Email
          th Roles
          th Trash
        tr(ng-repeat="user in users")
          td {{::user.username}}
          td {{::user.email}}
          td {{::user.roles.join(',')}}
          td
            a.trash(ng-click='delete(user)')
              span.glyphicon.glyphicon-trash.pull-right
            a.edit(href='/admin/edit/{{user._id}}')
              span.glyphicon.glyphicon-pencil.pull-right

  .col-xs-12
    h1 Add A New User
    form.form(name='newUserForm', ng-submit='register(newUserForm)', novalidate='')
      .form-group(ng-class='{ "has-success": newUserForm.username.$valid && submitted,\
            "has-error": newUserForm.username.$invalid && submitted }')
        input.form-control(type='text', name='username', ng-model='newUser.username', required='', placeholder="Enter Username")
        p.help-block(ng-show='newUserForm.username.$error.required && submitted')
          | A username is required

      .form-group(ng-class='{ "has-success": newUserForm.email.$valid && submitted,\
            "has-error": newUserForm.email.$invalid && submitted }')
        input.form-control(type='email', name='email', ng-model='newUser.email', required='', mongoose-error='', placeholder="Enter Email")
        p.help-block(ng-show='newUserForm.email.$error.email && submitted')
          | Doesn't look like a valid email.
        p.help-block(ng-show='newUserForm.email.$error.required && submitted')
          | What's your email address?
        p.help-block(ng-show='newUserForm.email.$error.mongoose')
          | {{ errors.email }}

      .form-group(ng-class='{ "has-success": newUserForm.password.$valid && submitted,\
            "has-error": newUserForm.password.$invalid && submitted }')
        input.form-control(type='password', name='password', ng-model='newUser.password', ng-minlength='3', required='', mongoose-error='', placeholder="Enter Password")
        p.help-block(ng-show='(newUserForm.password.$error.minlength || newUserForm.password.$error.required) && submitted')
          | Password must be at least 3 characters.
        p.help-block(ng-show='newUserForm.password.$error.mongoose')
          | {{ errors.password }}

      .row
        .form-group
          .col-xs-2(ng-repeat="role in userRoles")
            label
              input(type="checkbox", checklist-model="newUser.roles", checklist-value="role")
              | {{role}}

      .form-group
        label
          input(type="checkbox" ng-model="newUser.validationNeeded")
          | Require Email Validation


      div
        button.btn.btn-inverse.btn-lg.btn-login(type='submit') Create User
