.chat-panel
  header
    div
      div
        span.room-icon
          i.fa.fa-users(ng-if="currentRoom.type==='group'")
          i.fa.fa-user(ng-if="currentRoom.type==='user'")
          i.fa.fa-star(ng-if="currentRoom.type==='set'")
        b {{currentRoom.username}}
      div.txt-gray-alt(ng-if="currentRoom.type === 'user'")
        | Private Messages
      div.txt-gray-alt(ng-if="currentRoom.type === 'set'")
        ng-pluralize(count="currentRoom.roomcount", when="{'0': 'No Rooms', 'one': '1 Room', 'other': '{} Rooms'}")
      div.txt-gray-alt(ng-if="currentRoom.type === 'group'")
        ng-pluralize(count="currentRoom.watchercount", when="{'0': 'No Watchers', 'one': '1 Watcher', 'other': '{} Watchers'}")
        | &nbsp;|&nbsp;
        a.txt-gray-alt(href="#") Add a topic
  .messages(scroll-to-bottom="currentRoom.messages")
    ul.list-unstyled
      li.message(ng-repeat="msg in currentRoom.messages track by $index")
        div.chat-avatar
          img.chat-avatar-img(src="{{msg.thumb}}")
        div.chat-main
          .chat-username {{msg.username}}
          .chat-content {{msg.message}}
  footer
    form(ng-submit="sendMsg()")
      input.chat-msg(ng-model="newMsg.message", placeholder="Enter Message Here")
