div(ng-include='"app/Components/navbar/navbar.html"')
.container
  .row
    .col-xs-12
      h1 We've sent help to {{email}}.
      p This reset will expire in 24 hours.
      div
        a.btn.btn-default.btn-lg.btn-register(href='/signup')
          | Sign Up For Free!
        a.btn.btn-default.btn-lg.btn-register(href='/login')
          | Login
