div(ng-include='"components/navbar/navbar.html"')
.contain-main
  .container
    .row
      .col-xs-12
        table.table.table-bordered.table-striped
          tr
            th
            th Date
            th User
            th Category
            th Item
            th Units
            th Cost
            th Total
          tr(ng-repeat='row in transactions | orderBy:"date":true')
            td {{$index + 1}}
            td {{row.user.slug}}
            td {{row.date | date: 'MM/dd/yyyy @ h:mma'}}
            td {{row.category}}
            td {{row.item}}
            td {{row.units}}
            td {{row.cost | currency}}
            td {{row.total| currency}}
