.broadcaster-list-item
  .inside
    a.avatar(href="/watch/{{broadcaster.slug}}")
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/68/Solid_black.png" width="100%" height="100%" >
    a(href="/watch/{{broadcaster.slug}}") {{broadcaster.username}}
