.broadcaster-list-item
  .inside
    a.avatar(href="/watch/{{broadcaster.slug}}")
      img(src="http://loremflickr.com/320/240/woman,sexy/all?radn={{broadcaster._id}}", width="100%", height="100%")
    a.username(href="/watch/{{broadcaster.slug}}") {{broadcaster.username}}
    span {{broadcaster.status}}
    a(href="#", ng-if="isFaved(broadcaster._id)")
      span.fa.fa-heart.text-danger(title="UnFave Me", ng-click="unFave(broadcaster._id)")
    a(href="#", ng-if="!isFaved(broadcaster._id)")
      span.fa.fa-heart-o.text-danger(title="Fave Me", ng-click="fave(broadcaster._id)")
