div(ng-include='"app/Components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Broadcast
      swf-object(
        swf-url="/assets/swf/broadcast_CS5.swf", swf-load="onLoadHandler(evt)"
        swf-width="300",
        swf-height="225",
        swf-callbacks="{'setStatus': setStatus}"
        )
      p#video-text {{status}}
      p
        button(ng-click="goPublic()") Go Public
        button(ng-click="goAway()") Go Away
        button(ng-click="goOffline()") Go Offline
      p
        button(ng-click="goPrivate()") Go Private
        button(ng-click="goVIP()") Go VIP
        button(ng-click="goPassword()") Go Password

