div(ng-include='"components/navbar/navbar.html"')
.contain-watch
  .container
    .row
      .col-xs-12
        h1(ng-if="isOffline()") {{broadcaster.username}}'s cam is offline.
          small Don't worry there's plenty more where that came from.
    .row
      video-chat-watch(ng-if="showVid()")
      .col-xs-12(ng-if="!broadcaster")
        h1
          small We're sorry {{slug}} does not exist.
          p
            Please checkout our other models below.
div(ng-include='"components/broadcasterSuggestions/broadcasterSuggestions.html"')
