div(ng-include='"components/navbar/navbar.html"')
.contain-watch
  .container
    .row
      .col-xs-12(ng-if="!broadcaster")
        video-chat-watch(ng-if="showVid()")
      .extras
        h1 Extras
        pm-button
private-chat(user='user', broadcaster='broadcaster')
