.chat-box
  ul.list-unstyled
    li.msg(ng-repeat="msg in messages track by $index", class="{{msg.type}} {{msg.subType}}")
      p
        b {{msg.from}}:&nbsp;
        span {{msg.content}}
      p(ng-if="msg.tipNote") {{tipNote}}
form(ng-submit="sendMessage()")
  p
    input.form-control(placeholder="Enter your chat here", ng-model="message")
