div(ng-include='"components/navbar/navbar.html"')
.contain-broadcast
  .container
    .row(ng-if="user")
      video-chat-broadcast
private-chat(user='user', broadcaster='broadcaster')
.container
  .row {{user}}
