div(ng-include='"components/navbar/navbar.html"')

.contain-main.contain-broadcast
  .chatBlock
    chat-room-module(rooms-list='chatSvc.roomsList', rooms='chatSvc.rooms', current-room='chatSvc.currentRoom')
  .vidBlock
    video-player

.container
  .row
    .col-xs-12
      p
        timer(interval="1000", auto-start='false', countdown='user.credits.units')
          span(ng-if="hours") {{hhours}}:
          span {{mminutes}}:{{sseconds}}/
          span {{seconds * .05 | number: 2 }}
      p {{user.credits.units}}
  .row(ng-if="user")
