a(href='/admin')
  //span.txt-color-primary Come
  span.txt-color-primary Watch
  span.txt-color-secondary Live
  span.txt-color-gray .com
  br
  span.txt-color-secondary ADMIN
ul.list-unstyled
  li
    a(href="/admin/dashboard") Dashboard
  li
    a(ui-sref="admin.broadcasters") Broadcasters
  li
    a(href="/admin/users") Users
  li
    a(href="/admin/admins") Admins
  li
    a(ng-click="logout()") Logout
