.container
  .row
      broadcaster-list.favorites(ng-if="isLoggedIn", header="Online Favorites", type="favorites", limit="5")
      broadcaster-list.trending(header="Trending", type="trending")
      broadcaster-list(header="Online", type="online")
      broadcaster-list(header="Offline", type="offline")
